.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border: none;
  outline: none;
  font-size: 1.4rem;
  font-weight: 600;
}
.loading {
  position: absolute;
}
.inner {
  &.hidden {
    visibility: hidden;
  }
}
.primary {
  color: #fff;
  background: #e16010;
}

.outline {
  color: #e16010;
  border: 1px solid #e16010;
  border-radius: 5px;
  transition: all 0.4s ease;
  &:hover {
    color: #fff;
    background: #e16010;
  }
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

// Size
.small {
  padding: 2px 4px;
}

.medium {
  padding: 4px 8px;
}

.larget {
  padding: 10px 20px;
}
