.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  outline: none;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}
.icon {
  position: absolute;
}

.inner {
  &.hidden {
    visibility: hidden;
  }
}

.primary {
  color: #fff;
  background: rgb(250, 150, 43);
}
.outline {
  color: rgb(250, 150, 43);
  border: 1px solid rgb(250, 150, 43);
  border-radius: 5px;
  transition: all 1s ease;
  &:hover:not(.disabled) {
    color: #fff;
    background: rgb(250, 150, 43);
  }
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

// Size

.small {
  padding: 4px 8px;
}

.medium {
  padding: 6px 10px;
}

.larget {
  padding: 8px 12px;
}
