.index {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 20;
  width: 300px;

  a {
    color: #333;
    font-size: 13px;
    cursor: pointer;

    &.active {
      color: #646cff;
    }
  }

  h2,
  h3,
  h4 {
    margin: 0;
  }

  h3 {
    padding-left: 20px;
  }

  h4 {
    padding-left: 40px;
  }
}
