.index {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 20;
  width: 300px;

  a {
    color: #333;
    font-size: 13px;
    cursor: pointer;

    &.active {
      color: #646cff;
    }
  }

  h2,
  h3,
  h4 {
    margin: 0;
  }

  h3 {
    padding-left: 20px;
  }

  h4 {
    padding-left: 40px;
  }
}

a {
  position: relative;
}

a::before {
  content: "#";
  width: 10px;
  height: 10px;
  color: #333;
  margin-left: 8px;
  opacity: 0; /* Ẩn mặc định */
  transition: opacity 0.2s ease;
}

a:hover::before {
  opacity: 1; /* Hover mới hiện */
}
