.modal,
.overlay {
  position: fixed;
  inset: 0;
}
.modal {
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  position: relative;
  z-index: 1;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}
.btnClose {
  z-index: 999;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 4px;
  right: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
}
.overlay {
  background: rgba($color: #000000, $alpha: 0.6);
}
// .modal-custum-body {
//   overflow-y: hidden;
// }
