/* Loading.module.scss */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid;
    border-color: rgb(16, 218, 218) transparent;
    animation: spinner 1s linear infinite;
  }
}

/* 1️⃣ GLOBAL */
.wrapper--global {
  position: fixed;
  inset: 0;
  background: rgba(135, 135, 135, 0.8);
  z-index: 9999;
}

/* 2️⃣ LOAD MORE */
.wrapper--load-more {
  padding: 16px;
}

/* 3️⃣ REFRESH */
.wrapper--refresh {
  padding: 12px;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
