.wrapper {
  position: fixed;
  inset: 0;
  background: rgba($color: #878787, $alpha: 0.8);
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid;
    border-color: rgb(16, 218, 218) transparent;
    animation: spiner 1s ease infinite;
  }
}

@keyframes spiner {
  to {
    rotate: 360deg;
  }
}
